<html>
<head>
	<script src="/js/websites.js"></script>
	<% include ../Partials/head.ejs %>
	<% include ../Partials/navbar.ejs %>
</head>
<body>
	<div class="columns mainBody">
		<% include ../Partials/sidebar.ejs %>
		<div class="column is-auto" style="padding: 0.25in">
		<% for (let site of websites) { %>
			<nav class="panel">
				<p class="panel-heading">
					<%= site.fullDomain %>
				</p>
				<div class="panel-block" style="text-align: center" id="main">
					<div class="columns">
						<div class="column is-one-quarter">
							<div onclick="domainSettings('<%= site.fullDomain %>', '<%= site.protocol%>', '<%= site.id %>', '<%= site.domain %>', '<%= site.subdomain %>')" class="hand">
								<i class="fas fa-cogs fa-3x" style="display: inline-block; width: 100%;"></i>
								<br>
								Settings
							</div>
						</div>
						<div class="column is-one-quarter">
							<div onclick="domainSettings('<%= site.fullDomain %>', '<%= site.protocol%>', '<%= site.id %>')" class="hand">
								<i class="fas fa-envelope fa-3x"></i>
								<br>
								Mail Accounts
							</div>
						</div>
						<div class="column is-one-quarter">
							<i class="fas fa-envelope fa-3x"></i>
							<br>
							Mail Accounts
						</div>
						<div class="column is-one-quarter">
							<i class="fas fa-envelope fa-3x"></i>
							<br>
							Mail Accounts
						</div>
					</div>
				</div>
			</nav>
			<br>
			<% } %>
		</div>
	</div>
</body>
</html>
